body {
	 background-image: url("background2.jpg");
	 background-size: cover;
	 background-attachment: fixed;
	 background-position: center center;
	 background-repeat: no-repeat;
	 justify-content: center;
}

h1 {
	color: white;
	position: relative;
	top: 400px;
	left: 35px;
	text-align: center;
	font-size: 20px;
	font-family: 'Anton', serif;
}

h1:hover {
	transform: scaleX(2);
	transform: scaleY(1);
}

img {
	width: 100%;
	background-image: width:100%;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
}

.btn-primary1 {
	color: #FFF;
	background-color: rgb(243, 103, 0);
	border-color: rgb(243, 103, 0);
	
}

.btn-primary1:hover {
	background-color: yellow;
	transition: background-color 1.50s ease-out;
	color: black;

}